body{
  font-family: 'Inter', sans-serif;
  height: 100vh;
  overflow: hidden;
}

.root{
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone{
  background-image: url(/src/img/peakpx\ \(1\).jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
}

.top-not{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  margin: auto;
}

.top-not,
.top-not i{
  color: #fff;
}

.batterywrap{
  display: flex;
  align-items: center;
}

.batterywrap p{
  margin: 0;
  margin-right: .3em;
}

.battery{
  width: 2em;
  height: 1em;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .1em;
}

.battery div{
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.time-wrap h2{
  text-align: center;
  font-size: 3.4em;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.time-wrap p{
  color: #fff;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.apps-wrap{
  position: relative;
  height: 15vh;
  position: absolute;
  bottom: 2.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.claim-wrap{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 22em;
}

.claim-wrap p{
  margin: 0;
  font-size: 1.3em;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: #000000;
  border-radius: 10px;
  border: 1px solid teal;
  text-align: center;
  padding: .4em .3em;
  box-shadow: 2px 2px 5px #000;
  min-width: 5em;
}

.claim-wrap button{
  width: 10em;
  height: 3em;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  color: #ffffff;
  background-color: green;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  box-shadow: 2px 2px 5px #000;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}


.apps{
  max-width: 23em;
  margin: 0 auto;
  display: flex;
  background-color: #D4D4D4;
  padding: .8em .8em 0 .8em;
  border-radius: 10px;
}

.apps img{
  width: 3em;
  height: 3em;
  padding: .3em;
  object-fit: cover;
  margin-right: .5em;
  background-color: #fff;
  border-radius: 15px;
  cursor: pointer;
}

.apps .item{
  position: relative;
}

.apps .item .badge{
  width: 2em;
  height: 2em;
  background-color: red;
  border-radius: 50%;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}

.dots{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.dots div{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-right: .3em;
}

.dots div:nth-child(2){
  background-color: #fff;
}

.notifications{
  width: 80%;
  align-items: center;
  margin-top: 2em;
  margin: auto;
  height: 50vh;
  overflow-y: scroll;
  scrollbar-width: 0;
}

.notifications::-webkit-scrollbar {
  width: 0.5em;
  background-color: transparent;
}

/* Hide scrollbar thumb */
.notifications::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide scrollbar track */
.notifications::-webkit-scrollbar-track {
  background-color: transparent;
}

.notifications img{
  width: 100%;
  height: 8em;
  margin-top: -1.1em;
}

.item-enter {
  opacity: 0;
  transform: translateY(-50px);
}

.item-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.item-enter-last {
  opacity: 0;
  transform: translateY(-50px);
  position: absolute;
}

.item-enter-active-last {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
  position: absolute;
}

.item-exit {
  opacity: 1;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.item {
  transition: opacity 300ms;
  position: relative;
  margin-bottom: 10px;
}

.item:first-child {
  margin-top: 0;
}

.ylink{
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: .8em;
  color: #fff;
  background-color: rgb(22, 35, 34);
  border-radius: 10px;
  box-shadow: 2px 2px 5px #000;
  width: 100%;
  margin: 1em auto;
  padding: .4em;
}

.ylink:hover{
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .notifications{
    max-width: 25em;
  }
}